NEXT_PUBLIC_FIREBASE_API_KEY="AIzaSyDtoNJt4eIyOBVbNuSqHzC-XUpl-bqhkYc"
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN="projeck1-3333d.firebaseapp.com"
NEXT_PUBLIC_FIREBASE_PROJECT_ID="projeck1-3333d"
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET="projeck1-3333d.appspot.com"
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID="407147695851"
NEXT_PUBLIC_FIREBASE_APP_ID="1:407147695851:web:8f04030ddf719febb478ae"